@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter_28pt-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter_28pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'open-sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* Colors */
    --main-bg-color: #f6f7f8;
    --main-color-text: #2a3647;

    /* Paddings & Margins */
    --content-padding-top: 80px;
    --content-padding-bottom: 80px;
    --content-padding-left: 80px;
    --content-padding-right: 80px;

    /* Heights & Widths */
    --page-max-height: 1440px;
    --page-max-width: 1920px;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: #000000;
    height: 100%;
}

.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: var(--page-max-width);
    /* margin: 0 auto; */
    min-height: 100vh;
    background-color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    background-color: var(--main-bg-color);
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
    width: 100%;
    gap: 40px;
    background-color: var(--main-bg-color);
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    gap: 120px;
}

.form__columns {
    display: flex;
    justify-content: space-between;
}

.form__column {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    gap: 30px;
}

.form__separator {
    min-width: 1px;
    margin: 0 40px;
    background-color: #d1d1d1;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.form__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__label {
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
    pointer-events: none;
}

/* FIELDS */

.form__input { 
    position: relative;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: #ffffff;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    cursor: text;
}

.form__textarea {
    height: 180px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'open-sans', sans-serif;
    font-size: 21px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    scroll-behavior: smooth;
    cursor: text;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: #d1d1d1;
    font-size: 20px;
}

#contact-search::placeholder,
#category-input::placeholder {
    color: #2a3647;
    font-size: 20px;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid #28abe2;
    outline: none;
}

/* WRAPPERS */

.form__wrapper-input,
.form__wrapper-date,
.form__wrapper-assignee,
.form__wrapper-category {
    position: relative;
}

.form__wrapper-priority {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__wrapper-subtask-icons {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}

.form__wrapper-stubtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__wrapper-list {
    max-height: 265px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0px 16px rgba(0,0,0,0.05);
    transition: all 0.2s ease;
    overflow-y: auto;
}

/* ICONS */

.form__description-icon {
    position: absolute;
    right: 6px;
    bottom: -6px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.form__icon-contact,
.form__icon-category,
.form__icon-calendar {
    position: absolute;
    right: 16px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form__icon-subtask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.form__icon-contact:hover,
.form__icon-category:hover,
.form__icon-subtask:hover {
    background-color: #eeeeee;
    border-radius: 50%;
}

/* CONTACT */

.form__contact {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

.form__contact:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.form__contact-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form__contact-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: auto;
    padding-top: 4px;
    gap: 10px;
    width: 100%;
    min-width: 0;
    max-width: 440px;
    overflow-x: auto;
    overflow-y: hidden;
}

.form__contact-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: white;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    flex-shrink: 0;
}

.form__contact-name {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
}

.form__contact-checkbox {
    min-width: 18px;
    min-height: 18px;
    accent-color: #2a2a2a;
    margin-right: 16px;
    appearance: none; /* For modern browsers */
    -webkit-appearance: none; /* For safari */
    -moz-appearance: none; /* For firefox */
}

.form__contact-checkbox--checked {
    background-color: #2a3547;
    color: white;
}

.form__contact-checkbox--checked:hover {
    background-color: #081831;
}

.form__contact-checkbox-icon-unchecked,
.form__contact-checkbox-icon-checked {
    display: inline-block;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
}

#contact-arrow-icon,
#category-arrow-icon {
    transition: transform 0.3s ease;
}

#contact-search {
    padding-right: 40px;
    color: #2a3647;
}

#contact-search:focus::placeholder {
  color: transparent;
}

#contact-you {
    color: #b3b3b3;
    font-weight: 400;
    font-size: 20px;
}

/* PRIORITY */

.form__button-prio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    height: 56px;
    max-width: 136px;
    width: 100%;
    gap: 8px;
}

.form__button-prio:hover {
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.form__button-prio svg {
    width: 20px;
}

#btn-urgent-icon {
    color: #ff3e01;
}

#btn-medium-icon {
    color: #ffa700;
}

#btn-low-icon {
    color: #7ae229;
}

.form__button-prio--urgent {
    background-color: #ff3e01;
    color: white;
    font-weight: 700;
    font-size: 21px;
}

.form__button-prio--medium {
    background-color: #ffa700;
    color: white;
    font-weight: 700;
    font-size: 21px;
}

.form__button-prio--low {
    background-color: #7ae229;
    color: white;
    font-weight: 700;
    font-size: 21px;
}

.form__button-prio--urgent:hover,
.form__button-prio--medium:hover,
.form__button-prio--low:hover {
    box-shadow: none;
}

.form__button-prio--urgent #btn-urgent-icon,
.form__button-prio--medium #btn-medium-icon,
.form__button-prio--low #btn-low-icon {
    color: white;
}

/* CATEGORY */

.form__category {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
}

.form__category:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

#category-input {
    cursor: pointer;
}

#task-category-dropdown {
    gap: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* SUBTASK INPUT */

#subtask-input {
    padding-right: 40px;
}

/* SUBTASK REGULAR MODE */

.form__subtask-list {
    display: flex;
    flex-direction: column;
    max-height: 125px;
    overflow: auto;
    gap: 2px;
    padding: 0;
    margin: 0;
}

.form__subtask-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 6px 20px 6px 40px;
    max-width: 440px;
    border-radius: 15px;
    transition: background-color 0.2s ease;
}

.form__subtask-item:hover {
    background-color: #eeeeee;
}

.form__subtask-item::before {
    content: "•";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.form__subtask-label {
    font-size: 16px;
}

.form__subtask-icons {
    display: flex;
    align-items: center;
    gap: 6px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
}

.form__subtask-item:hover .form__subtask-icons {
    opacity: 1;
    pointer-events: auto;
}

.form__subtask-icon {
    height: 16px;
    max-width: 16px;
    cursor: pointer;
}

.form__icon-separator {
    width: 1px;
    background-color: #A8A8A8;
    height: 24px;
}

/* SUBTASK EDIT MODE */

.form__subtask-item-edit {
    all: unset;
}

.form__subtask-edit-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid #28abe2;
}

.form__subtask-input {
    flex: 1;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 60px 8px 18px;
    border: none;
    background-color: transparent;
    outline: none;
}

.form__subtask-icons--editing {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 6px;
    opacity: 1;
    pointer-events: auto;
}


/* ACTIONS > CREATE & CLEAR */

.form__actions {
    /* position: sticky;
    bottom: 0;
    left: 0;
    right: 0; */
    /* padding: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.form__action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    max-width: 440px;
    width: 100%;
    gap: 20px;
}

.form__button-create {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    max-width: 183px;
    width: 100%;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: #2a3647;
    color: white;
    gap: 8px;
}

.form__button-create:hover {
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    background-color: #29ABE2;
    cursor: pointer;
}

.form__button-create img {
    width: 15.5px;
}

.form__button-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7f8;
    border-radius: 10px;
    max-width: 126px;
    width: 100%;
    height: 56px;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
    cursor: pointer;
    border: 2px solid #d1d1d1;
    gap: 8px;
}

.form__button-clear:hover {
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    border-color: #29ABE2;
    color: #29ABE2;
}

.form__button-clear:hover svg {
    color: #29ABE2;
}

/* SCROLLBARS */

.form__wrapper-list::-webkit-scrollbar,
.form__textarea::-webkit-scrollbar,
.page::-webkit-scrollbar,
.form__subtask-list::-webkit-scrollbar {
  width: 6px;
}

.form__wrapper-list::-webkit-scrollbar-thumb,
.form__textarea::-webkit-scrollbar-thumb,
.page::-webkit-scrollbar-thumb,
.form__subtask-list::-webkit-scrollbar-thumb {
  background-color: #ccccccaa;
  border-radius: 4px;
}

.form__wrapper-list::-webkit-scrollbar-track,
.form__textarea::-webkit-scrollbar-track,
.page::-webkit-scrollbar-track,
.form__subtask-list::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

/* GENERAL ELEMENTS */

a {
	text-decoration: none;
	color: inherit;
}

/* CUSTOM ELEMENTS */

.arrow-icon-rotated {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

.required-asterisk {
    color: #ff8190;
    margin-left: 5px;
    font-size: 20px;
}

.required-text {
    font-size: 16px;
    font-weight: 400;
}

.required-hint {
    font-size: 12px;
    font-weight: 400;
    color: #ff8190;
}

.required-frame {
    border: 1px solid #ff8190;
    border-radius: 4px;
}

.d_none {
    display: none;
}

/* DATE PICKER */

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
    pointer-events: none;
    position: absolute;
}

input[type="date"] {
    position: relative;
    z-index: 1;
}

/* html { background: red; }
body { background: orange; }
.page { background: yellow; }
.main { background: lightblue; }
.content { background: lightgreen; } */