@media (max-width: 1320px) {
    .header,
    .content {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 1280px) {
    .header,
    .content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 1230px) {
    .form__button-prio {
        max-width: 120px;
    }

    .form__button-prio svg {
        display: none;
    }
}

@media (max-width: 1140px) {
    .form__button-prio {
        max-width: 100px;
    }
}

@media (max-width: 1010px) {
    .form__button-prio {
        font-size: 18px;
        max-width: 90px;
    }
}

@media (max-width: 950px) {
    .form__separator {
        display: none;
    }

    .form__columns {
        max-width: 440px;
        width: 100%;
        gap: 30px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }

    .form {
        gap: 20px;
        align-items: center;
        max-width: 440px;
        width: 100%;
    }

    .form__columns {
        flex-direction: column;
        align-items: center;
    }

    .form__button-prio {
        max-width: 120px;
        font-size: 20px;
    }

    .form__button-prio svg {
        display: block;
    }

    .form__actions {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        max-width: 440px;
        width: 100%;
        gap: 10px
    }

    .form__action-buttons {
        justify-content: space-between;
    }
}

@media (max-width: 760px) {
    .title {
        font-size: 40px;
    }

    .sidebar__logo-image {
        width: 60px;
    }

    .sidebar__menu a span{
        display: none;
    }
}

@media (max-width: 650px) {
    .header__title {
        display: none;
    }

    .header__logo {
        display: block;
    }

    .content {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .sidebar {
        display: none;
    }
}

@media (max-width: 540px) {
    .title {
        align-self: flex-start;
    }

    .sidebar {
        max-width: 160px;
    }

    .content {
        gap: 30px;
    }
}

@media (max-width: 510px) {
    .header {
        padding-left: 40px;
    }

    .form__button-prio {
        max-width: 120px;
    }

    .form__button-prio svg {
        display: block;
    }    
}

@media (max-width: 480px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
        height: 80px;
    }

    .header__user {
        height: 40px;
        width: 40px;
        font-size: 16px;
        border: 2px solid var(--header-color-border-user);
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .form__group label,
    .form__input,
    .form__input::placeholder,
    .form__textarea::placeholder,
    #contact-search::placeholder,
    #category-input::placeholder,
    .form__button-prio span,
    .form__contact-name,
    .form__category,
    .form__button-clear span,
    .form__button-create span,
    .required-asterisk {
        font-size: 16px;
    }

    .form__input,
    .form__contact-list li {
        height: 40px;
    }

    .form__button-prio {
        max-width: 120px;
        height: 41px;
    }

    .form__button-prio svg {
        width: 20px;
    }

    .form__contact-badge {
        height: 32px;
        width: 32px;
    }

    .form__button-clear,
    .form__button-create {
        height: 40px;
    }
}

@media (max-width: 425px) {
    .form__button-prio svg {
        display: none;
    }
    
    .form__button-prio {
        max-width: 110px;
    }
}

@media (max-width: 400px) {

}

@media (max-width: 390px) {
    .form__button-prio {
        max-width: 100px;
    }
}

@media (max-width: 360px) {
    .form__button-prio {
        max-width: 90px;
    }
}

@media (max-width: 325px) {
    .form__button-prio {
        max-width: 85px;
    }

    .form__button-clear svg,
    .form__button-create img {
        display: none;
    }
}