.required-asterisk {
    color: #ff0000;
    margin-left: 5px;
    font-size: 20px;
}

.required-text {
    font-size: 16px;
    font-weight: 400;
}

.required-hint {
    font-size: 16px;
    font-weight: 400;
    color: #ff0000;
}

.required-frame {
    border: 1px solid #ff0000;
    border-radius: 10px;
}