* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-bg-color: #f6f7f8;
    --main-color-text: #2a3647;
    --content-padding-top: 80px;
    --content-padding-bottom: 80px;
    --content-padding-left: 80px;
    --content-padding-right: 80px;
    --page-max-height: 1440px;
    --page-max-width: 1920px;
}

/* NATIVE ELEMENTS */

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
    background-color: #f6f7f8;
    height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

/* STRUCTURAL ELEMENTS */

.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* max-width: var(--page-max-width); */
    min-height: 100vh;
    background-color: #fff;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
    width: 100%;
    gap: 40px;
    background-color: var(--main-bg-color);
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 61px;
    font-weight: 700;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    gap: 120px;
}

.form__columns {
    display: flex;
    justify-content: space-between;
}

.form__column {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    gap: 30px;
}

.form__separator {
    min-width: 1px;
    margin: 0 40px;
    background-color: #d1d1d1;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

.form__group {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__label {
    font-size: 20px;
    font-weight: 400;
    color: #2a3647;
    pointer-events: none;
}

/* INPUT FIELDS */

.form__input { 
    position: relative;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: #ffffff;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    cursor: text;
}

.form__textarea {
    height: 180px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'open-sans', sans-serif;
    font-size: 21px;
    font-weight: 500;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
    scroll-behavior: smooth;
    cursor: text;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: #d1d1d1;
    font-size: 20px;
}

#contact-search::placeholder,
#category-input::placeholder {
    color: #2a3647;
    font-size: 20px;
}

.form__input:focus,
.form__textarea:focus {
    border: 1px solid #28abe2;
    outline: none;
}

/* WRAPPERS */

.form__wrapper-input,
.form__wrapper-date,
.form__wrapper-assignee,
.form__wrapper-category {
    position: relative;
}

.form__wrapper-priority {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__wrapper-subtask-icons {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
}

.form__wrapper-stubtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form__wrapper-list {
    max-height: 265px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0px 16px rgba(0,0,0,0.05);
    transition: all 0.2s ease;
    overflow-y: auto;
}

/* CUSTOM ELEMENTS */

.arrow-icon-rotated {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

.d_none {
    display: none;
}

/* DEBUGGING WITH BACKGROUND COLORS */

/* html { background: red; }
body { background: orange; }
.page { background: yellow; }
.main { background: lightblue; }
.content { background: lightgreen; } */