
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    font-family: 'Inter';
    background: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 120%;
    font-weight: 400;
}

.board-page {
    position: relative;
    max-width: 1920px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
    overflow: hidden; 
}

.board-page__card {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
    margin: auto;
    background-color: #F6F7F8;
}

.kanban {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.kanban__header {
    position: relative;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0 64px;
}

.kanban__headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
}

.kanban__title {
    font-size: 61px;
    font-weight: 700;
    /* line-height: 1.2; */
}

.kanban__tools {
    display: flex;
    gap: 32px;
}

.kanban__search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 312px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #ffffff;
}

.kanban__search-input {
    max-width: 160px;
    height: 24px;
    font-size: 20px;
    /* line-height: 120%; */
    border: none;
    outline: none; 
}

.kanban__search-icon-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    gap: 16px;
}

.kanban__search-separator {
    height: 31px;
    border: 1px solid #D1D1D1;
}

.kanban__search-icon-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.kanban__search-icon-frame:hover {
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.kanban__search-icon {
    width: 17.58px;
    height: 17.58px;
    opacity: 0.6;
}

.kanban__add-button {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    max-width: 160px;
    height: 56px;
    padding: 12px 16px;
    gap: 4px; 
    background-color: #2A3647;
    color: white;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap; 
}

.kanban__add-button:hover {
    background-color:#00BEE8;
    border-color: #00BEE8;
    transition: background-color 0.2s ease-in-out 0.1s;
    border-color: 0.2s ease-in-out 0.1s;
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.no-result {
    color: red;
    font-style: italic;
    position: absolute;
    top: 100%;
    left: 0; 
    padding-top: 4px;
    display: none;
}

.kanban__add-text{
    width: 92px;
    height: 24px;
    font-weight: 700;
    font-size: 21px;
    /* line-height: 120%; */
    color: #FFFFFF;
    letter-spacing: 0%;
}

.kanban__add-icon {
    width: 32px;
    height: 32px;
    fill: #FFFFFF;   
}

.kanban__grid-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: hidden;
    padding: 0 64px 16px 64px;
}

.kanban__subtitle-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 26px;
    margin-bottom: 8px;
}

.kanban__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.kanban__subtitle-text {
    margin-right: 8px;
}

.kanban__subtitle-plus {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: #2A3647;
    border: 2px solid #2A3647;
    border-radius: 8px;  
}

.kanban__subtitle-plus::before {
    content: "+";
    transform: translateY(-1px);  /* Justierung nach unten (oder -1px nach oben) */
    display: inline-block;
}

.kanban__subtitle-plus:hover {
  color: #00BEE8;
  border-color: #00BEE8;  
  transition: color 0.2s ease-in-out 0.1s,
              border-color 0.2s ease-in-out 0.1s;    
}

.kanban__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
  flex-grow: 1;
  height: 100%;
  
}

.kanban__column {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.kanban__column::-webkit-scrollbar {
    display: none;                
}

.card--notasks {
    font-family: "Open Sans";    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #E7E7E7;
    color: #A8A8A8;
    border: 1px solid #A8A8A8;
    height: 48px;             
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);  
}

.card {
    width: 100%;
    border-radius: 24px;
    padding: 16px;
    gap: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.06);
    margin-bottom: 8px;
}   

.card-transform {
  transform: rotate(5deg) scale(1.02);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.card__content:hover {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0.1s;
}

.card__badge {
    padding: 4px 16px;
    border-radius: 8px;
    color: #FFFFFF;
    /* font-weight: 400; */
    /* font-size: 16px; */
    /* line-height: 120%; */
    align-self: flex-start;
}

.card__badge-user-story {
    background-color: #0038FF;
}

.card__badge-technical-task {
    background-color: #1FD7C1;
}

.card__header {
    display: flex;
    width: 100%;
    border-radius: 10px;
    gap: 8px;
    flex-direction: column;;
    align-items: start;
}
    
.card__header-title {
    font-weight: 700;
    /* font-size: 16px; */
    /* line-height: 120%; */
    color: #2A3647;
    text-align: left;
}

.card__header--description{
    /* font-weight: 400; */
    /* font-size: 16px; */
    /* line-height: 120%; */
    color: #A8A8A8;
    display: -webkit-box;
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card__subtasks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card__subtasks-bar {
    background: #F4F4F4;
    width: 128px;
    height: 6px;
    border-radius: 8px;
    overflow: hidden;
    gap: 10px
}

.card__subtasks-progress {
    background: #4589FF;
    height: 100%;
    border-radius: 8px;
    transition: width 0.3s ease;
}

.card__subtasks-text {
    font-size: 12px;
    color: #6b7280;
    text-align: right;
    /* font-weight: 400; */
}

.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__credentials{
    display: flex;
}

.card__credential {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: orange;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__credential + .card__credential {
    margin-left: -10px;
}

.card__priority img {
    width: 20px;
    height: 20px;
}
