@media (max-width: 600px) {
    .kanban__add-button {
        max-width: 48px;
        height: 48px;
        padding: 10px; 
    }

    .kanban__add-text {
        display: none;
    }

    .kanban-add-icon {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {

    .header__wrapper {
        padding-left: 20px;
        padding-right: 20px;
        height: 80px;
    }

    .header__user {
        height: 40px;
        width: 40px;
        font-size: 16px;
        border: 2px solid var(--header-color-border-user);
    }

    .kanban__title {
        font-size: 40px;
    }

    .edit__label,
    .edit__input,
    .edit__textarea,
    #edit-due-date,
    .edit__button-prio span,
    #task-subtask-input,
    #task-subtask-input::placeholder,
    .edit__subtask-text,
    .edit__button-ok {
        font-size: 16px;
    }

    .edit__input {
        height: 40px;
    }

    .edit__button-prio {
        max-width: 120px;
        height: 41px;
    }

    .edit__button-prio svg,
    .edit__button-ok img {
        width: 15px;
        height: 20px;
    }

    .edit__contact-badge {
        height: 32px;
        width: 32px;
    }

    .edit__button-ok {
        height: 40px;
    }

    .card__upanddown-icon {
        display: flex;
    }
}

@media (max-width: 460px) {
    .overlay__content {
        padding: 20px;
    }

    .edit__icon-contact,
    .edit__icon-calendar,
    .edit__wrapper-subtask-icons {
        right: 4px
    }
}

@media (max-width: 400px) {
    .edit__button-prio svg {
        display: none;
    }
}