.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.16);
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.d-none {
    display: none !important;
}

/* === Das Panel selbst === */
.overlay__content {
    position: relative;
    width: 525px;
    max-height: 930px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 48px 40px;
    box-shadow: 0px 0px 4px 0px #00000029;
    overflow: visible;

    /* transform: translateX(100vw);
    transition: transform 2s ease; */
}

/* Wenn Overlay sichtbar, fahre das Panel rein */
/* .overlay--visible .overlay__content {
    transform: translateX(0);
} */

/* === Der Inhalt, der im Editmode ausgeblendet wird === */
.overlay__story, .overlay__edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px !important;
    position: relative;
    overflow: hidden;
}

.overlay__badgeframe {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overlay__badge {
    color:#ffffff; 
    background: #0038FF;
    border-radius: 8px;    
    padding: 4px 24px;
    gap: 10px;
    font-size: 23px;
    line-height: 120%;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.overlay__close--button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__close--button:hover {
    background: #D9D9D9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0.1s;
}

.overlay__title {
    width: 100%;
    font-size: 61px;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
}

.overlay__description {
    width: 100%;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
}

.overlay__parameters {
    width: 100%;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #2A3647;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.overlay__priority--status {
    display: flex;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    border-radius: 10px;
}

.overlay__assigned {
    display: flex;
    flex-direction: column;
    gap: 8px;  
    font-size: 20px; 
    color: #2A3647;
    line-height: 120%;
    font-weight: 400;
    width: 100%;
}

.overlay__credentials {
    display: flex;
    flex-direction: column;
    gap: 4px;  
    font-size: 19px; 
   width: 100%;
}

.overlay__credentials--individual {
    gap: 16px; 
    display: flex;
    align-items: center;
    padding: 7px 16px;
}
.overlay__credential--icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__subtasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px; 
    color: #2A3647;
    line-height: 120%;
    font-weight: 400;
    gap: 8px;
}

.overlay__subtasks--frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.overlay__subtask {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 16px;
    gap: 16px;
    font-size: 16px;
}

.overlay__subtask img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__subtask img:hover {
    cursor: pointer;
    background-color: #d1d1d1;
    transition: transform 0.2s ease-in-out;
}

.overlay__subtask:hover {
   transform: scale(1.01);
   background-color: #eeeeee;
   padding: 4px 16px;
   transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.overlay__action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.overlay__action--activate {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    fill: #2A3647;
    color: #2A3647;
    font-size: 16px;
    text-decoration: none;
}

.overlay__action--separator {
    height: 24px;
    border: 1px solid #D1D1D1;
}

.overlay__action--activate:hover {
    color: #29ABE2;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.overlay__action--activate:hover svg path {
    fill: #29ABE2;
    transition: fill 0.2s ease-in-out;
}

