/* EDIT SECTION */

.overlay__edit {
    display: flex;
    height: 930px;
    flex-direction: column;
}

.overlay__edit--closewrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.overlay__edit--wrapper {
    flex: 1 1 auto;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 697px;
}

.overlay__edit--selections {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; /* Scrollbar außerhalb vom sichtbaren Container */
    bottom: 0;
    overflow-y: auto;
    padding-right: 20px; /* Platz für Text neben Scrollbar */
    box-sizing: content-box; /* verhindert Padding-Zusammenrechnung */
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Scrollbar styling */
.overlay__edit--selections::-webkit-scrollbar {
    width: 10px;
}

.overlay__edit--selections::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../assets/img/icon/triangle_upwards.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 4px;
}

.overlay__edit--selections::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../assets/img/icon/triangle_downwards.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 4px;
}

.overlay__edit--selections::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.overlay__edit--selections::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

.overlay__edit--selections::-webkit-scrollbar-track {
    margin: 20px 0;
}


.edit__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 8px;
}

.edit__label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #2A3647;
}

.edit__group--input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.edit__required-note {
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    color: #FF8190;
}

.edit__input {
    width: 100%;
    gap: 10px;
    border-radius: 10px;
    padding: 12px 21px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    border: 1px solid #D1D1D1;
   
}

.edit__input--textblack {
    color: #000000;
}

.edit__input--textgrey::placeholder {
   color: #D1D1d1 !important;
}

.edit__textarea {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 18px 16px;
    font-family: "Open Sans";
    font-size: 21px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
    border: 1px solid #D1D1D1;
    overflow-x: hidden;
    overflow-y: auto;
    resize: none;
}

.edit__wrapper-assignee,
.edit__wrapper-date,
.edit__wrapper-input {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.edit__icon-contact,
.edit__icon-calendar,
.edit__wrapper-subtask-icons {
    position: absolute;
    right: 16px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 16px;
}

.edit__wrapper-subtask-icons { 
    gap: 4px;
    
}

.edit__icon-subtask,
.edit__icon-subtasklist {
    width: 24px;
    height: 24px;
    padding: 5px;
}

.edit__icon-contact:hover,
.edit__icon-calendar:hover,
.edit__icon-subtask:hover {
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}



.edit__icon-contact:hover,
.edit__icon-subtask:hover {
   background-color: #d9d9d9;
   border-radius: 50%;
}

.edit__icon-done:hover {
   transform: scale(1.1) 
}

.edit__wrapper-priority {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.edit__button-prio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #000000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    padding: 16px 10px;
    height: 56px;
    max-width: 137.67px;
    width: 100%;
    gap: 8px;
}

.edit__button-prio:hover {
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.edit__button-prio--urgent svg {
    color: #ff3e01;
}

.edit__button-prio--medium svg {
    color: #ffa700;
}

.edit__button-prio--low svg {
    color: #7ae229;
}

.edit__wrapper-assignee {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit__input::placeholder {
    font-size: 20px
}

.edit__wrapper-list {
    max-height: 265px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0px 16px rgba(0,0,0,0.05);
    transition: all 0.1s ease;
    overflow-y: auto;
}

.edit__contact-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.edit__contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 7px 16px;
    border-radius: 10px;
}

.edit__contact:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.edit__contact-badgename {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.edit__contact-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    gap: 10px;
}

.edit__contact-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: white;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.edit__contact-name {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
}

.edit__contact-checkbox {
    width: 18px;
    height: 18px;
    accent-color: #2a2a2a;
    margin-right: 16px;
}

.edit__contact-checkbox--checked {
    background-color: #2a3547;
    color: white;
}

.edit__contact-checkbox--checked:hover {
    background-color: #081831;
}

.edit__contact-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.edit__contact-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.edit__icon-separator,
.edit__subtask-separator {
    min-width: 1px;
    height: 24px;
}

.edit__icon-separator {
    background-color: #d1d1d1;
}

.edit__subtask-separator {
    background-color: #A8A8A8;
}

.edit__subtasklist {
    width: 100%;
    list-style-position: none;
   
}

.edit__subtask {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 16px;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
}

.edit__subtask-text::before {
  content: "•";
  margin-right: 8px;
  color: #000;
  font-size: 18px;
  display: inline-block;
  transform: translateY(-1px); /* optional: vertikale Feinjustierung */
}

.edit__subtask:hover {
    width: 100%;
    background-color: #EEEEEE;
    border-radius: 10px;
    transition:  background-color 0.1s ease-in-out;
    cursor: pointer;
}

.edit__subtask-icons{
    display: none;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    gap: 4px;
    padding-right: 4px; 
}

.edit__subtask:hover .edit__subtask-icons { 
    display: flex;
}

.edit__icon-subtasklist:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.edit__action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    max-width: 440px;
    width: 100%;
    gap: 20px;
    flex: 0 0 auto;
    height: auto; 
}

.edit__button-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    padding: 16px;
    border-radius: 10px;
    border: none;
    background-color: #2a3647;
    color: white;
    gap: 4px;
}

.edit__button-ok:hover {
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    background-color: #29ABE2;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.edit__button-ok img {
    width: 15.49px;
}
