.overlay {
    display: none; 
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.16);
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

/* Sichtbarer Zustand */
.overlay--visible {
    display: flex;
}

/* === Das Panel selbst === */
.overlay__content {
    width: 525px;
    height: 931px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 48px 40px;
    box-shadow: 0px 0px 4px 0px #00000029;

    display: flex;
    flex-direction: column;
    gap: 24px;

    transform: translateX(100vw);
    transition: transform 2s ease;
}

/* Wenn Overlay sichtbar, fahre das Panel rein */
.overlay--visible .overlay__content {
    transform: translateX(0);
}

.overlay__badgeframe {
    width: 100%;
    display: flex;
    justify-content: space-between;
}