.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.16);
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.d-none {
    display: none !important;
}

/* === Das Panel selbst === */
.overlay__content {
    position: relative;
    width: 525px;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 48px 40px;
    box-shadow: 0px 0px 4px 0px #00000029;

    /* transform: translateX(100vw);
    transition: transform 2s ease; */
}

/* Wenn Overlay sichtbar, fahre das Panel rein */
/* .overlay--visible .overlay__content {
    transform: translateX(0);
} */

/* === Der Inhalt, der im Editmode ausgeblendet wird === */
.overlay__story, .overlay__edit{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px !important;
}

.overlay__badgeframe {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overlay__badge {
    color:#ffffff; 
    background: #0038FF;
    border-radius: 8px;    
    padding: 4px 24px;
    gap: 10px;
    font-size: 23px;
    line-height: 120%;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.overlay__close--button {
    width: 32px;
    height: 32px;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__close--button:hover {
    background: #D9D9D9;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out 0.1s;
}

.overlay__title {
    width: 100%;
    font-size: 61px;
    line-height: 120%;
    font-weight: 700;
    color: #000000;
}

.overlay__description {
    width: 100%;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
}

.overlay__parameters {
    width: 100%;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #2A3647;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.overlay__priority--status {
    display: flex;
    align-items: center;
    padding: 4px 18px;
    gap: 10px;
    border-radius: 10px;
}

.overlay__assigned {
    display: flex;
    flex-direction: column;
    gap: 8px;  
    font-size: 20px; 
    color: #2A3647;
    line-height: 120%;
    font-weight: 400;
    width: 100%;
}

.overlay__credentials {
    display: flex;
    flex-direction: column;
    gap: 4px;  
    font-size: 19px; 
   width: 100%;
}

.overlay__credentials--individual {
    gap: 16px; 
    display: flex;
    align-items: center;
    padding: 7px 16px;
}
.overlay__credential--icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__subtasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px; 
    color: #2A3647;
    line-height: 120%;
    font-weight: 400;
    gap: 8px;
}

.overlay__subtasks--frame {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px; 
}

.overlay__subtask {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px 16px;
    gap: 16px;
    font-size: 16px;
}

.overlay__subtask img {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay__subtask img:hover {
    cursor: pointer;
    background-color: #d1d1d1;
    transition: transform 0.2s ease-in-out;
}

.overlay__subtask:hover {
   transform: scale(1.01);
   background-color: #eeeeee;
   padding: 4px 16px;
   transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.overlay__action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
}

.overlay__action--activate {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    fill: #2A3647;
    color: #2A3647;
    font-size: 16px;
    text-decoration: none;
}

.overlay__action--separator {
    height: 24px;
    border: 1px solid #D1D1D1;
}

.overlay__action--activate:hover {
    color: #29ABE2;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.overlay__action--activate:hover svg path {
    fill: #29ABE2;
    transition: fill 0.2s ease-in-out;
}


/* EDIT SECTION */

.overlay__edit--closewrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.overlay__edit--wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.overlay__edit--selections {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.edit__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    gap: 8px;
}

.edit__label {
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #2A3647;
}

.edit__group--input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.edit__required-note {
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    color: #FF8190;
}

.edit__input {
    width: 100%;
    gap: 10px;
    border-radius: 10px;
    padding: 12px 21px;
    font-size: 20px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
    border: 1px solid #D1D1D1;
}

.edit__textarea {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 18px 16px;
    font-family: "Open Sans";
    font-size: 21px;
    line-height: 120%;
    font-weight: 400;
    color: #000000;
    border: 1px solid #D1D1D1;
}

.edit__wrapper-assignee,
.edit__wrapper-date {
    position: relative;
}

.edit__icon-contact,
.edit__icon-calendar {
    position: absolute;
    right: 16px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}

.edit__wrapper-priority {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.edit__button-prio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: #000000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    padding: 16px 10px;
    height: 56px;
    max-width: 137.67px;
    width: 100%;
    gap: 8px;
}

.edit__button-prio:hover {
    box-shadow: 0px 3.5px 3px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.edit__button-prio--urgent svg {
    color: #ff3e01;
}

.edit__button-prio--medium svg {
    color: #ffa700;
}

.edit__button-prio--low svg {
    color: #7ae229;
}

.edit__wrapper-assignee {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edit__input {
    position: relative;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    padding-right: 21px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    background-color: #ffffff;
    transition: border 0.2s ease, box-shadow 0.2s ease;
    cursor: text;  
}

.edit__input::placeholder {
    color: #000000;
    font-size: 20px
}

.edit__wrapper-list {
    max-height: 265px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0px 16px rgba(0,0,0,0.05);
    transition: all 0.2s ease;
    overflow-y: auto;
}

.edit__contact-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.edit__contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 7px 16px;
    border-radius: 10px;
}

.edit__contact:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.edit__contact-badgename {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.edit__contact-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    gap: 10px;
}

.edit__contact-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: white;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.edit__contact-name {
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
}

.edit__contact-checkbox {
    width: 18px;
    height: 18px;
    accent-color: #2a2a2a;
    margin-right: 16px;
}

.edit__contact-checkbox--checked {
    background-color: #2a3547;
    color: white;
}

.edit__contact-checkbox--checked:hover {
    background-color: #081831;
}

.edit__contact-badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.edit__contact-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}