body {
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.page {
    position: relative;
    max-width: 1920px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto;
    overflow: hidden;  
}

main {
    padding: 0;
    margin: 0;
    flex: 1;
}

.flex-box-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dpl-fl-colu {
    display: flex;
    flex-direction: column;
}

.dpl-fl-al-cetr {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-background {
    background-color: #F6F7F8;
    display: flex;
    max-width: 1920px;
}

/* User List */

.user-list::-webkit-scrollbar {
    width: 24px;
    cursor: pointer;
}

.user-list::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border: 8px solid white;
    border-radius: 11px;
    cursor: pointer;
}

.user-list::-webkit-scrollbar-button {
    display: none;

}

/* Scrollbar-Button für nach oben */

.user-list::-webkit-scrollbar-button:vertical:decrement:start {
    display: block;
    background: url("../assets/img/icon/triangle_upwards.svg") center no-repeat;
    background-size: contain;
    width: 8px;
    height: 6px;
    cursor: pointer;
}

/* Scrollbar-Button für nach unten */

.user-list::-webkit-scrollbar-button:vertical:increment:end {
    display: block;
    background: url("../assets/img/icon/triangle_downwards.svg") center no-repeat;
    background-size: contain;
    width: 8px;
    height: 6px;
    cursor: pointer;
}

.user-container {
    width: 456px;
    background-color: white;
}

.list-header {
    width: 456px;
    height: 101px;
}

.add-contact-container {
    width: 352px;
    background-color: #2A3647;
    border-radius: 10px;
    padding-block: 12px;
    gap: 16px;
    border: 1px;
    cursor: pointer;
}

.add-contact-container:hover {
    background-color: #29ABE2;
}

.add-contact-container button {
    all: unset;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: white;
}

.add-contact-container img {
    width: 32px;
    height: 32px;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 197px);
    overflow-y: auto;
    padding: 32px 24px;
}

.tab {
    width: 352px;
}

.tab hr {
    margin-block: 8px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-block: 20px;
}

.contact {
    display: flex;
    align-items: center;
    width: auto;
    gap: 35px;
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 10px;
}

.contact:hover {
    background: linear-gradient(180deg, #F9F9F9, #F0F0F0);
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    overflow: hidden;
    width: 100%;
}


.choose-contact {
    background: #2A3647 !important;
    color: white;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    color: white;
    border: 3px solid white;
}

strong {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Main content header*/

.headline {
    display: flex;
    align-items: center;
    margin-block: 80px 40px;
}

.headline hr {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;
    margin-inline: 31px;
    border: 0;
}

.headline p {
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
}

h2 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.content-contact {
    padding-left: 50px;
    flex: 1;
}

/* Main content Name*/

.user-info-container {
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}

.user-slide-in {
    transform: translateX(100vh);
    transition: transform 0.2s ease;
}

.user-slide-in.active {
    transform: translateX(0);
}

.user-info-header {
    gap: 54px;
    display: flex;
    align-items: center;
}

.info-initial,
.info-initial-2 {
    background-color: #007CEE;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 47px;
    line-height: 120%;
    color: white;
    border: 3px solid white;
}

.info-name {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h4 {
    margin: 0;
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.container-editing-tools {
    display: flex;
    gap: 13px;
    cursor: pointer;
}

.tools:hover {
    color: #29ABE2;

}

.tools:hover img.tools-delete {
    content: url('../assets/img/icon/delete_blue.svg');
}

.tools:hover img.tools-edit {
    content: url('../assets/img/icon/edit_blue.svg');
}

/* Main content information */

.user-contact-info {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    margin-block: 45px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-bottom: 20px;
}

.contact-info-box {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.accessibility-description {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
}

.accessibility {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #007CEE;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
