.add-btn-resp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 50;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #2A3647;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.contact-img {
    width: 32px;
    height: 32px;
}

.back-btn-resp {
    position: absolute;
    top: 150px;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    opacity: 0;
}

.add-btn-resp:hover {
    background-color: #29ABE2;
    cursor: pointer;
}

.back-btn-resp:hover {
    border-radius: 50%;
    background-color: #D1D1D1;
    cursor: pointer;
}

.tools-overlay-Container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100vh;
    width: 100%;
}

.editing-tools-resp {
    position: fixed;
    bottom: 110px;
    right: 5px;
    z-index: 60;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    transform: translateX(100%);
    transition: transform 0.2s ease;
}

.tools-resp-active {
    transform: translate(0);
}

.editing-tools-resp div {
    padding: 8px;
    cursor: pointer;
}

.tools-resp:hover {
    background-color: #D1D1D1;
    border-radius: 10px;
}

@media (max-width: 1360px) {
    .headline {
        flex-direction: column;
        align-items: start;
        margin-bottom: 50px;
    }

    .headline hr {
        display: none;
    }

    .headline h2 {
        font-size: 56px;
        margin-bottom: 4px;
    }

    .headline p {
        margin-top: 4px;
        font-size: 24px;
    }

    .headline p::after {
        content: "";
        display: block;
        height: 3px;
        width: 90px;
        background-color: #29ABE2;
        margin-top: 3px;
    }

    .info-initial-2 {
        width: 80px;
        height: 80px;
        font-size: 35px;
    }

    .info-name h4 {
        font-size: 36px;
    }
}

@media (max-width: 1250px) {
    .info-initial-2 {
        width: 70px;
        height: 70px;
        font-size: 28px;
    }

    .info-name {
        gap: 10px;
    }

    .headline h2 {
        font-size: 48px;
        margin-bottom: 4px;
    }

    .info-name h4 {
        font-size: 28px;
    }

    .headline p {
        margin-top: 4px;
        font-size: 24px;
    }

    .user-info-header {
        gap: 24px;
    }
}

@media (max-width: 1230px) {

    .overlay-main-container {
        padding: 45px 24px;
        gap: 20px;
    }

    .overlay-cover {
        padding: 45px 24px;
    }
}

@media (max-width: 1120px) {
    .header__wrapper {
        padding-left: 28px;
        padding-right: 28px;
    }

    .header__burger-menu {
        right: 28px;
    }

    .user-container {
        width: 428px;
    }

    .list-header {
        width: 428px;
    }

    .contact {
        padding: 15px 12px;
    }

    .user-list {
        padding: 32px 12px;
    }

    .user-info-header {
        flex-direction: column;
        align-items: start;
    }

    .info-initial-2 {
        align-self: flex-start;
    }

    .input-container {
        width: 350px;
    }

    .info-initial-overlay {
        align-self: center;
    }

    .submit-container {
        gap: 15px;
    }
}

@media (max-width: 1030px) {
    .profil-img-container,
    .info-initial {
        width: 80px;
        height: 80px;
    }

    .profil-img {
        width: 40px;
        height: 40px;
    }

    .dpl-fl-colu,
    .submit-container {
        margin-top: 0px;
    }

    .overlay-cover,
    .overlay-main-container {
        padding: 32px;
        height: 450px;
    }

    .overlay-content-container form {
        margin-top: 40px;
    }

    .close-container {
        top: 30px;
        right: 30px;
    }

    .close-btn {
        width: 18px;
        height: 18px;
    }

    .card-title h5 {
        font-size: 32px;
    }

    .card-title p {
        font-size: 24px;
    }
}

@media (max-width: 1000px) {
    .title {
        font-size: 40px;
    }

    .sidebar__logo-image {
        width: 60px;
    }

    .sidebar__text{
        display: none;
    }
}

@media (max-width: 935px) {
    .profil-img-container,
    .info-initial {
        display: none;
    }
}

@media (max-width: 900px) {
    .header__wrapper {
        padding-left: 20px;
    }

    .contact {
        gap: 18px;
    }

    .content-contact {
        padding-left: 30px;
        height: 100vh;
    }

    .add-contact-container {
        margin-left: 18px;
    }

    .user-container {
        width: 360px;
    }

    .list-header {
        width: 320px;
    }

    .tab {
        width: 300px;
    }
}

@media (max-width: 835px) {
    .overlay-contact {
        flex-direction: column;
    }

    .overlay-cover,
    .overlay-main-container {
        max-width: 400px;
        width: 100%;
    }

    .overlay-cover {
        border-radius: 20px 20px 0 0;
        height: 352px;
    }

    .overlay-main-container {
        border-radius: 0 0 20px 20px;
    }

    .logo-img {
        display: none;
    }

    .profil-img-container,
    .info-initial {
        display: flex;
        position: absolute;
        top: 36%;
        left: 50%;
        transform: translateX(-50%);
        height: 120px;
        width: 120px;
    }

    .profil-img {
        width: 64px;
        height: 64px;
    }

    .blue-white-btn {
        display: none
    }

    .card-title h5 {
        font-size: 47px;
    }

    .motivation-text {
        font-size: 27px;
    }

    .submit-container {
        justify-content: center;
    }

    .input-container {
        gap: 20px;
    }

    .close-container:hover {
        background: #081831;
    }

    #closeBtnBlack {
        display: none;
    }

    #closeBtnWhite {
        display: block;
    }
}

@media (max-width: 820px) {
    .add-btn-resp {
        display: flex;
    }

    .user-info-header {
        flex-direction: row;
        align-items: center;
    }

    .list-header {
        display: none;
    }

    .user-list {
        height: calc(100vh - 96px);
        padding: 32px 24px 40px 24px;
    }

    .content-contact {
        display: none;
        height: calc(100vh - 96px);
    }

    .user-container {
        flex: 1;
    }

    .tab {
        width: 100%;
    }

    .container-editing-tools {
        display: none;
    }

    /* overlay */

    .card-title h5 {
        font-size: 47px;
    }

    .card-title .motivation-text {
        font-size: 20px;
    }

    .submit-container {
        gap: 35px;
    }
}

@media (max-height: 670px) {
    .overlay-contact-resp {
        height: 665px;
    }
}

@media (max-width: 690px) {
    .header__title {
        display: none;
    }
}

@media (max-width: 520px) {
    .header__wrapper {
        padding-left: 24px;
    }
    
    .header__title {
        display: none;
    }

    .header__help {
        display: none;
    }

    .header__logo {
        display: block;
    }

    .add-btn-resp {
        bottom: 110px;
        right: 25px;
    }

    .sidebar {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        width: 100%;
        height: 80px;
        padding: 0;
        background-color: #2A3647;
        z-index: 1000;
    }

    .sidebar__logo,
    .sidebar__legal {
        display: none;
    }

    .sidebar__menu {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 14px;
        padding-right: 14px;
    }

    .sidebar__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 76px;
        width: 80px;
        padding: 0;
        gap: 6px;
    }

    .sidebar__icon {
        height: 24px;
    }

    .sidebar__text {
        display: block;
        font-size: 14px;
    }

    .user-list {
        padding-bottom: 90px;
    }

    .editing-tools-resp {
        bottom: 190px;
    }
}

@media (max-width: 450px) {
    .user-info-header {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }

    .user-contact-info {
        margin-block: 15px;
    }

    .headline {
        margin-bottom: 40px;
    }

    .headline h2 {
        margin-top: 10px;
        font-size: 48px;
    }

    .back-btn-resp {
        top: 130px;
        right: 25px;
    }

    .overlay-contact-resp {
        width: 100% !important;
    }

    .overlay-cover-resp {
        width: 100% !important;
    }

    .overlay-main-container-resp {
        width: 100% !important;
    }
}

@media (max-width: 400px) {
    .input-container-resp {
        width: 300px;
    }
    
    .contact-info {
        overflow: hidden;
    }

    .headline {
        margin-block: 15px 20px;
    }
}

@media (max-width: 360px) {
    .user-list {
        padding-right: 4px;
    }

    .contact {
        padding-left: 2px;
        gap: 8px;
    }

    .contact-info strong {
        font-size: 18px;
    }

    .accessibility {
        font-size: 15px;
    }

    .user-list::-webkit-scrollbar {
        width: 20px;
        cursor: pointer;
    }

    .user-list::-webkit-scrollbar-button:vertical:decrement:start {
        display: none;
    }

    .user-list::-webkit-scrollbar-button:vertical:increment:end {
        display: none;
    }
}

@media (max-width: 440px) {
    .input-container {
        max-width: 320px;
    }
}

@media (max-width: 420px) {
    .input-container {
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .input-container {
        max-width: 280px;
    }

    .card-title h5 {
        font-size: 36px;
    }
}

@media (max-width: 380px) {
    .overlay-main-container {
        padding: 16px;
    }
}

@media (max-width: 360px) {
    .header__wrapper {
        padding-right: 24px;
    }

    .header__burger-menu {
        right: 24px;
    }

    .user-container {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .input-container {
        max-width: 260px;
    }

    .card-title .motivation-text {
        font-size: 19px;
    }
}

@media (max-width: 851px) and (max-height: 970px) {
    .overlay-cover {
        height: 140px;
        padding: 20px;
        justify-content: start;
    }

    .overlay-main-container {
        height: 320px;
    }

    .profil-img-container,
    .info-initial {
        width: 60px;
        height: 60px;
        top: 103px;
        font-size: 24px;
    }

    .overlay-content-container form {
        margin-top: 0px;
    }

    .dpl-fl-colu {
        gap: 8px;
    }

    .profil-img {
        width: 32px;
        height: 32px;
    }

    .card-title h5 {
        font-size: 32px;
    }

    .card-title .motivation-text {
        font-size: 16px;
    }

    .submit-container {
        gap: 35px;
        margin-top: 0;
    }

    .overlay-main-container {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 32px;
        padding-top: 48px;
    }

    .input-container {
        height: 205px;
    }
}