@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter_28pt-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter_28pt-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans";
    src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
}