.sidebar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 232px;
    height: 100vh;
    background-color: #2A3647;
    justify-content: space-between;
    padding: 64px 0px;
}

.sidebar__logo-image {
    align-self: center;
    width: 100.03px;
    height: 121.97px;
    margin-bottom: 40px;
}

.sidebar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 229px;
    gap: 15px;
}

.sidebar__item {
    display: flex;
    align-items: center;
    height: 46px;
    gap: 16px;
    padding: 8px 56px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.sidebar__item:hover {
    cursor: pointer;
    background: #2A3D59;
}

.sidebar__icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.sidebar__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #CDCDCD;
    text-decoration: none;
}

.sidebar__legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    height: 317px;
    width: 122px;
}

.sidebar__legal .sidebar__text {
    opacity: 0.7;
    gap: 8px;
    padding: 8px;
}

.sidebar__legal .sidebar__text:hover {
    opacity: 1;
    color: #29ABE2;
    font-weight: 700;
}