
.navbar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 232px;
    height: 100%;
    background-color: #2A3647;
    justify-content: space-between;
    padding: 64px 0px;
}

.logo2 {
    align-self: center;
    width: 100.03px;
    height: 121.97px;
}

.navbar_selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 229px;
    gap: 15px;           
}

.selection {
    display: flex;
    align-items: center;
    height: 46px;
    gap: 16px;            
    padding: 8px 56px;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.selection:hover {
    cursor: pointer;
    background: #2A3D59;
}

.img_selection {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.selection_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #CDCDCD;
    text-decoration: none;
}

.navbar_legal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    height: 317px
}

.navbar_legal .selection_text {
    opacity: 0.7;
    gap: 8px;
    padding: 8px;
}

.navbar_legal .selection_text:hover {
    opacity: 1;
    color: #29ABE2;
    font-weight: 700;
}