h1 {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 24px;
    padding-bottom: 16px;
    color: #2A3647;
    flex-shrink: 0;
}

h2 {
    font-size: 27px;
    font-weight: 700;
    color: #2A3647;
    margin-bottom: 16px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 12px;
}

.page {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #F6F7F8;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.content {
    width: 100%;
    padding: 80px;
}

.section {
    margin-bottom: 24px;
}

ul li,
.section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
    color: #333;
}

.section p a {
    color: #29ABE2;
    text-decoration: none;
    font-weight: bold;
}

.undertext a {
    color: #29ABE2;
    text-decoration: none;
    font-weight: bold;
}

.font-strong {
    font-weight: 700;
}

@media (max-width: 900px) {
    main {
        margin-top: 0;
    }
}

@media (max-width: 800px) {
    .sidebar__logo-image {
        width: 60px;
    }

    .sidebar__menu a span{
        display: none;
    }
}

@media (max-width: 750px) {
    .header {
        padding-left: 40px;
    }
    
    h1 {
        font-size: 40px;
    }

    .page-content-section {
        padding: 40px;
    }
}

@media (max-width: 655px) {
    .header__title {
        display: none;
    }

    .header__logo {
        display: block;
    }
}

@media (max-width: 550px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 34px;
    }
}