/* SCROLLBARS */

.main::-webkit-scrollbar,
.form__wrapper-list::-webkit-scrollbar,
.form__textarea::-webkit-scrollbar,
.page::-webkit-scrollbar,
.form__subtask-list::-webkit-scrollbar,
.overlay__credentials::-webkit-scrollbar,
.overlay__subtasks--frame::-webkit-scrollbar,
.edit__wrapper-list::-webkit-scrollbar,
.edit__subtasklist::-webkit-scrollbar,
.task__overlay-content::-webkit-scrollbar,
.overlay__edit-selections::-webkit-scrollbar {
  width: 6px;
}

.main::-webkit-scrollbar-thumb,
.form__wrapper-list::-webkit-scrollbar-thumb,
.form__textarea::-webkit-scrollbar-thumb,
.page::-webkit-scrollbar-thumb,
.form__subtask-list::-webkit-scrollbar-thumb,
.overlay__credentials::-webkit-scrollbar-thumb,
.overlay__subtasks--frame::-webkit-scrollbar-thumb,
.edit__wrapper-list::-webkit-scrollbar-thumb,
.edit__subtasklist::-webkit-scrollbar-thumb,
.task__overlay-content::-webkit-scrollbar-thumb,
.overlay__edit-selections::-webkit-scrollbar-thumb {
  background-color: #ccccccaa;
  border-radius: 4px;
}

.main::-webkit-scrollbar-track,
.form__wrapper-list::-webkit-scrollbar-track,
.form__textarea::-webkit-scrollbar-track,
.page::-webkit-scrollbar-track,
.form__subtask-list::-webkit-scrollbar-track,
.overlay__credentials::-webkit-scrollbar-track,
.overlay__subtasks--frame::-webkit-scrollbar-track
.edit__wrapper-list::-webkit-scrollbar-track,
.edit__subtasklist::-webkit-scrollbar-track,
.task__overlay-content::-webkit-scrollbar-track,
.overlay__edit-selections::-webkit-scrollbar-track {
  background-color: #ffffff00;
}