/* SCROLLBARS */

.main::-webkit-scrollbar,
.form__wrapper-list::-webkit-scrollbar,
.form__textarea::-webkit-scrollbar,
.page::-webkit-scrollbar,
.form__subtask-list::-webkit-scrollbar,
.overlay__credentials::-webkit-scrollbar,
.overlay__subtasks--frame::-webkit-scrollbar,
.edit__wrapper-list::-webkit-scrollbar,
.edit__subtasklist::-webkit-scrollbar,
.task__overlay-content::-webkit-scrollbar,
.overlay__edit-selections::-webkit-scrollbar,
.edit__textarea::-webkit-scrollbar,
.overlay__edit--selections::-webkit-scrollbar {
  width: 6px;
}

.main::-webkit-scrollbar-thumb,
.form__wrapper-list::-webkit-scrollbar-thumb,
.form__textarea::-webkit-scrollbar-thumb,
.page::-webkit-scrollbar-thumb,
.form__subtask-list::-webkit-scrollbar-thumb,
.overlay__credentials::-webkit-scrollbar-thumb,
.overlay__subtasks--frame::-webkit-scrollbar-thumb,
.edit__wrapper-list::-webkit-scrollbar-thumb,
.edit__subtasklist::-webkit-scrollbar-thumb,
.task__overlay-content::-webkit-scrollbar-thumb,
.overlay__edit-selections::-webkit-scrollbar-thumb {
  background-color: #ccccccaa;
  border-radius: 4px;
}

.main::-webkit-scrollbar-track,
.form__wrapper-list::-webkit-scrollbar-track,
.form__textarea::-webkit-scrollbar-track,
.page::-webkit-scrollbar-track,
.form__subtask-list::-webkit-scrollbar-track,
.overlay__credentials::-webkit-scrollbar-track,
.overlay__subtasks--frame::-webkit-scrollbar-track
.edit__wrapper-list::-webkit-scrollbar-track,
.edit__subtasklist::-webkit-scrollbar-track,
.task__overlay-content::-webkit-scrollbar-track,
.overlay__edit-selections::-webkit-scrollbar-track {
  background-color: #ffffff00;
}


.overlay__edit--selections::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('../assets/img/icon/triangle_upwards.svg');
}

.overlay__edit--selections::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('../assets/img/icon/triangle_downwards.svg');
}

.overlay__edit--selections::-webkit-scrollbar-button:single-button:vertical:decrement,
.overlay__edit--selections::-webkit-scrollbar-button:single-button:vertical:increment {
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 4px;
}

.edit__textarea::-webkit-scrollbar-thumb,
.overlay__edit--selections::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.edit__textarea::-webkit-scrollbar-thumb:hover,
.overlay__edit--selections::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

.edit__textarea::-webkit-scrollbar-track,
.overlay__edit--selections::-webkit-scrollbar-track {
    margin: 20px 0;
}

@media (max-width: 556px) {
  .kanban__grid-wrapper::-webkit-scrollbar,
  .kanban__column::-webkit-scrollbar,
  .overlay__content::-webkit-scrollbar,
  .overlay__story::-webkit-scrollbar {
    display: none;
  }
}
    