@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter_28pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter_28pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

body {
  font-family: 'Inter';
  background: #c6dcf1;
  font-size: 16px;
}

.container {
  display: flex;
  min-height: 100vh;
}

.layout-page {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.layout-page__card {
  display: flex;
  min-height: 100vh;
}


/* Main content */
.main {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.dashboard {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-top: 60px;
  width: 100%;
  gap: 24px;
}


.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.subtitle {
  color: #6b7280;
}

.greeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.username {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #29ABE2;
}

.greetings {
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  letter-spacing: 0%;

}



/* Cards */
.dashboard-header {
  display: flex;
  align-items: baseline;
  gap: 16px;
  margin-bottom: 40px;
}

.dashboard-title {
  font-size: 61px;
  font-weight: 700;


}

.dashboard-subtitle {
  font-size: 27px;
  color: #6b7280;
  position: relative;
  bottom: 10px;
  gap: 15px;
}

.seperator {
  width: 2px;
  height: 59px;
  background-color: #29ABE2;
  position: relative;
  top: 8px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
 row-gap: 24px;   
  column-gap: 20px; 

}
.card-header {
display: flex;
  align-items: center; 
  gap: 12px;           
  justify-content: center; 
}


.card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 264px;
  height: 168px;
  cursor: pointer;
}

.card-urgent {
   background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 548px;
  height: 168px;
  cursor: pointer;
}

.card-overview {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 168px;
  height: 168px;
  cursor: pointer;
}

.greeting-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 20px;
  border-radius: 12px;
  min-width: 200px;
}


.greeting-card .username {
  font-size: 24px;
  color: #29ABE2;
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
width: 264px;
  height: 168px;
display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;      
  text-align: center;;
}

.icon {
 width: 69px;
  height: 69px;
  background-color: #2A3647;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
 width: 29.943395614624023;
height: 22.132076263427734;
top: 23.43px;
left: 19.53px;
border-width: 7px;
}




.number {
font-weight: 600;
  font-size: 64px;
  margin: 0;

}

.number-label {
 display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
}

.label {
 color: #6b7280;
  font-size: 20px;
  margin: 0;
}

.urgent-card .urgent-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.urgent-icon {
  width: 60px;
  height: 60px;
  background: #FF3D00;
  border-radius: 50%;
  display: flex;
  font-size: 22px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.urgent-icon img {
  width: 34px;
  height: 25px;
}

.deadline {
  font-size: 12px;
  color: #9ca3af;
}




.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 40px;
  background-color: #f5f6fa;
}